@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    padding: 0px;
   margin: 0px;
    background: linear-gradient(180.00deg, rgb(0, 0, 0),rgba(0, 0, 0, 1) 100%);
  }
  
  /*shared style*/
  .brand{
    color: rgb(230, 83, 60);

font-size: 2rem;

font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
  }
  .header-color{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(0, 0, 0, .9) 100%);
 height: 100%;
  }
  .navbar{
    align-items: center;
    display: flex;justify-content: space-between;
  }
  .nav-items{
    display: flex;
    
  }
  .nav-item{
    list-style: none;
margin-right: 50px;
margin-top: 25px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 400;font-size: 20px;
    color: rgb(255, 255, 255);
  }
  .navbar, .banner{
    max-width: 1500px;
    margin: 0 auto;
  }
  #home{
width: 52px;
height: 22px;
padding: 8px 20px 8px 20px;
background-color:  rgb(230, 83, 60);

border-radius: 18px;   
  }
  .hide{
    display: none;
  }
  .hide1{
    display: none;
  }
  
  /* end of header*/
  .banner{
    display: flex;justify-content:space-between;

  }
  .banner img{
    text-align: right;
  }
  .banner ,.contest h1{
font-weight: 900;
color: rgb(255, 255, 255);
font-size: 4rem;margin-bottom: auto;
  }
  .span-class{
    font-style:italic;
    font-weight: 700;
    color: rgb(255, 255, 255);font-size: 4rem;
    font-family: 'Miama', sans-serif;
                                                
  
  }
  .banner ,.contest p{
    font-weight: 200;font-size: 1rem;
    color: rgba(255, 255, 255, 0.5)
  }
  .join-button{
    padding: 15px 30px 15px 30px;

border-radius: 42px;
background: rgb(230, 83, 60);
border: none;
font-size: 15px;font-weight: 700;color: azure;
  }
  .d-button{
    padding: 15px 30px 15px 30px;
    box-sizing: border-box;
    background-color: black;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;font-size: 13px;font-weight: 800;color: azure;
  }
  .complex-button1{
    display: flex;align-items: center;
position: absolute;
padding: 35px 45px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 15px;

backdrop-filter: blur(10px);
background: rgba(69, 67, 67, 0.54);color: azure;
margin-left: -130px;
margin-top: -200px;
  }
  .circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;background: rgb(230, 83, 60);
  }
  .complex-button2{
    position: absolute;
padding: 35px 45px;
box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 15px;

backdrop-filter: blur(10px);
background: rgba(69, 67, 67, 0.54);color: azure;
margin-left: -100px;
margin-top: 110px;
  }
  .bold-text1{
    font-size: 24px;font-weight: 900;letter-spacing: .5px;
  }
  .bold-text2{
    font-size: 35px;font-weight: 900;letter-spacing: 1px;
  }
  .bold-p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
  }
  /*header section complite without res*/

  /* responsive media query */
  @media screen and (max-width: 576px) {
    .nav-items{
      display: none;
    }
    .hide{
      display: block;
      color: white;
      padding-right: 2rem;
    }

    .brand{
      padding-left: 2rem;
    }
  }
  /* navbar is fully complete*/
  @media screen and (max-width: 576px) {
    .banner{
      flex-direction: column;
          margin-left: 35px;
          height: 100%;
    }
    .banner ,.contest h1{
      font-weight: 500;
      font-size: 2rem;
      
        }
        .span-class{
        font-size: 2rem;
        }
        .hide1{
          display: block;
          color: white;
          padding-right: 2rem;
          position: absolute;
          margin-left: 13px;
        }
        .complex-button1{
         
      position: absolute;
      padding: 25px 30px;
      border-radius: 15px;
      margin-left: -20px;
      margin-top: -320px;
        } 
        .complex-button2{
          position: absolute;
      padding: 25px 30px;
      margin-left: -110px;
      margin-top: 70px;
        }
        .contest{
          margin-bottom: 4rem;
        }
        .join-button{
          padding: 15px 25px 15px 25px;
      font-size: 15px;
      font-weight: 700;
        }
        .d-button{
          padding: 15px 25px 15px 25px;
          font-size: 15px;
          font-weight: 700;
        }
  }
  /*complete nav and banner section*/

  .habit{
    color: white;
    max-width: 1500px;
    margin: auto ;
    
  }
  
  .habits1{
display: flex;
 justify-content: center; 
 align-items: center; 
 flex-direction: column;
margin-bottom:3rem;

  }
  .habits1 p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
      }
      .habits1 h1{
       /*padding: 0px;*/
       margin-bottom: 10px;
       font-family: Inter;
font-size: 3rem;
font-weight: 900;
line-height: 24px;
letter-spacing: 0.5px;
          }
          .habits2{
            display: flex;margin-left: 6rem;
          }
.container{
  display: flex;
align-items: center;
justify-content: center;
flex-direction: column;width: 22%;
}
.container h4{
margin-bottom: 5px;
align-items: center;
margin-top: 5px;
}
/*shared style*/
.b-color{
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;padding: 0;
}
.circle4{
  border-radius: 300px;
}
/*end habit section*/
/* responsive media query */
@media screen and (max-width: 576px) {
  .habit{
    flex-direction: column;
  }
  .habits1 p{
    margin-left: 70px;
  }
  .habits1 h1{
    font-size: 2rem;
font-weight: 700;
line-height: 10px;
letter-spacing: 0.3px;margin-left: -60px;
  }
  
  .habits2{
    flex-direction: column;
  }
  .container{
    width: 80%;
  }
 
}
/* complete section1*/
.r{

  margin-left: 300px;
  margin-top: 200px;
}
.run{
  color: white;
  display: flex;
  max-width: 1200px;
justify-content: center;
position: relative;
height: 350px;

border-radius: 18px;

background: rgb(34, 34, 34);
}
.text{
  position: absolute; width: 30%;
}
.run-text{
  margin-left: -400px;
}
.run-text h1{
  font-weight: 900;font-size: 50px;
  margin-bottom: 5px;
}
.run-image{
 
position: absolute;
}
.class-run-image{
border-radius: 20px;
width: 40%;
margin-left: 700px;
margin-top: 20px;

}
/* responsive media query */
@media screen and (max-width: 576px) {

.run{
  flex-direction: columns;
  height: 100vh;width: 100vw;
}
.run-text h1{
  font-weight: 700;font-size: 30px;
  margin-bottom: 5px;
}
.run-text{
  margin-left: -40px;
}
.r{

  margin-left: 0px;
  margin-top: 50px;
}
.class-run-image{
  
  }
  .run-image{
    border-radius: 20px;
    width: 100%;
   margin-right: 1100px;
    margin-top: 270px;
    
  }
  .text{
    position: absolute;
  }
  .run-text{
    flex-direction: column;
  }
  .join-button{
    padding: 15px 60px 15px 60px;
  }
}


.team{
  color: white;
  
  /*margin-left: 12rem;*/
}
.team-sec h1{
  font-size: 48px;
font-weight: 900;
line-height: 120%;
text-align: left;
margin-bottom: 10px;
}
.team-sec{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-bottom: 100px;
}
.team-meet{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.team-card{

  padding: 10px;
  position: relative;
}
.team-card img{
  border-radius: 10px;
  height: 300px;width: 400px;
}

.team-text{
color: white;position: absolute;
top: 60%;right: 70%;
}

.r1{
  margin: 12rem;
  margin-bottom: 0px;
}
@media screen and (max-width: 576px) {
  .team-meet{
    grid-template-columns: repeat(1,1fr);
  }
  .team-card img{
 padding-left: 30px;
  }
  .team-card{
   width:100%;
  padding: 0px;
border: 0px;
align-items: center;
justify-content: center;
  }
  .r1{
    margin:0px;
  }

  .team-sec h1{
    font-size: 20px;
  font-weight: 500;

  }
  .team-sec p{
  width: 400px;
  }
}
.bmi-text h1{
  font-size: 3rem;
font-weight: 900;
line-height: 120%;
text-align: left;
margin-bottom: 10px;color: white;
}

.bmi-text{
  display: grid;
  justify-content: center;
flex-direction: column;
/*align-items:center;*/


 /* color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-bottom: 100px;*/
/* Frame 8 */

/*display: flex;
flex-direction: column;

justify-content: center;
align-items: flex-start;


color:white;
/* Inside Auto Layout */

}


.bmi-chart{
  color: white;
  text-align: center;
margin-top: 80px;
}
.bmi-c{
  background: rgb(34, 34, 34);
  height: 500px;
  margin-bottom: 100px;
  margin-top: 60px;
}
 .bmi-chart h1 {
  margin-bottom: 20px;
}

table {
  width: 40%;
  margin: 0 auto;
  border-collapse: collapse;

}

th, td {
  padding: 10px;
  border: 1px solid #444;
  text-align: center;
}

/*thead {
  background-color: #333;
}*/

/*tbody tr:nth-child(even) {
  background-color: #2c2c2c;
}*/

.bmi-cal{
  /*background-color: #2c2c2c;*/
            padding: 20px;
            border-radius: 8px;
            width: 1000px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 60%;
            padding-top: 50px;
}
.bmi-cal h2 {
  /*text-align: center;*/

  margin-bottom: 20px;
  font-size: 40px;font-weight: 700px;
}

 .bmi-cal {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-bottom: 20px;
}
.input-row{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 gap: 30px;
}
.input-row1 , .input-row2{
  width: 100%;
}
 input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: #3a3a3a;
  color: white;
  display: block;
}
.seprate{
  width: 90%;
}
.bmi-c{
display: grid;
grid-template-columns: repeat(2,1fr);
}


@media screen and (max-width: 576px) {
  .bmi-c{
    grid-template-columns: repeat(1,1fr);
    height: 100%;
    width: 500px;
    gap: 0px;


  }

  .bmi-cal{
    /*background-color: #2c2c2c;*/
              padding: 20px;
              border-radius: 8px;
              width:100%;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
             
              padding-top:0px;
  }
  .bmi-text{
    width: 450px;
  
  }
  .bmi-text p{
    font-size: 1rem;
   margin-right:0px;
  }
  .bmi-text h1{
    font-size: 3rem;
  font-weight: 700;  margin-right: 50px;
 
  }
  .input-row{
   
   gap: 0px;
  }
  .input-row1 , .input-row2{
    width: 70%;
  }
}

.sec4{
  padding: 80px 100px 100px 100px; 
  background-image: linear-gradient(to left,rgba(90, 79, 79, 0.8),rgba(42, 40, 40, 0.9));
}
.s4row{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
color: rgba(255, 255, 255, 0.803);
}
.s4col{
flex-basis: 30%;
text-align: center;
}
.s4col i{
  font-size: 50px;
  padding-bottom: 20px;
}
.s4col h3{
  padding-bottom: 20px;
}
/*end of sec4*/
@media screen and (max-width: 576px) {
  .s4row{
flex-direction: column;
  }
  .s4col{
    flex-basis: 25%;
    text-align: center;
    } 
}


